header {
    background-color: darkblue;
    background: linear-gradient(to right, #33ccff 0%, darkblue 100%);
    display: block;
    text-align: center;
    padding: 50px;
    color: white;
    font-size: xx-large;
}

p {
    padding: 5px;
    margin: 5px 0;
}

#main-body {
    display: flex;
    flex-flow: row nowrap;
    background-color: aquamarine;
    justify-content:flex-start;
}

#panel-left {
    /* display: block; */

    display: flex;
    flex-flow: column nowrap;

    background-color: white;
    color: aquamarine;
    flex: 0 0 200px;
    /* padding: 20px; */

    /* background-color: aquamarine; */
    justify-content: flex-start;
}

#inputForm {
    display: flex;
    flex-flow: column nowrap;

    background-color: white;
    color: black;

    padding: 20px;

}

#recentCitySearches {
    display: flex;
    flex-flow: column nowrap;
    background-color: whitesmoke;
    color: yellow;
    padding: 15px;
}


#panel-main {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    padding: 25px;
    flex: 1 1 100%;

}

#currentCityWeather {
    /* color: black; */
    /* background-color: white; */
    border: solid;
    padding: 25px;
    /* flex: 1 0 100%; */
}

.weatherIcon {
    width: 30px;
    padding: 1px;
    background-color: grey;
}

.recentCitiesButton {

    flex: 0 1 30px;
    /* line-height: 1.5; */
    padding: 0 25px;
    font-size: 15px;
    text-align: center;
    color: black;
    /* text-shadow: 1px 1px 1px #000; */
    border-radius: 6px;
    background-color: lightgray;
    /* background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0)); */
    /* box-shadow: */
      /* inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6); */
    margin: 2px;
   
}

#fiveDayView {
    display: flex;
    flex-flow: row wrap;
    color: white;
}

#currentCityNameDateIcon {
    margin: 10px 0;
    font-size: xx-large;
    color: black;
}

#fiveDayView h1 {
    flex: 0 0 100%;
    margin: 20px 0 5px 10px;
    font-size: xx-large;
    color: black;
}

.forecastCard {
    display: flex;
    flex-flow: column nowrap;
    background-color: darkslategray;
    padding: 10px;
    margin: 10px;
    flex: 0 1 18%;
}

.forecastCard {
    font-size: larger;
    margin: 5px
}